/*------- Styling------ */
:root{
    --richblack: #00030a;
    --midnightblue:#000641;
    --navyblue:#000086;
    --bright_yellow_crayola:#ffb034;
    --goldenrod:#e2b123;
    --mustard:#ffdb54;
    --lightgrey:#d5d5d5;
    --honeydew:#dfece3;
}
a{
    color: var(--lightgrey);
    text-decoration: none;
}
ul{
    list-style: none;
}
h1,h2,h3,.nav_main li, .dropdown_hover, .name_container, .ex_nav{
    font-family: Cy, verdana, sans serif;
}
.header, .footer, body{
    background-color: var(--richblack);
}
h1{
    align-self: center;
}
p{
    font-family: Hedley New Web, verdana, sans serif;  
}
    /*-------   Layout  ------ */
body, header, main, footer{
    display: grid;
}
body{
    color: var(--lightgrey);
    margin: 0;

    grid-template-areas:
    'header'
    'main'
    'footer'
    ;
}
header{
    grid-area: header;
    min-height: 70px;
    z-index: 2;
}
main{
    grid-area: main;
    min-height: 100vh;
}
footer{
    grid-area: footer;
    margin:20px;
}
    /*-------   General Content  ------ */

.header, .main, .name_container{
    display: flex;
}

/* -------------- */
.header{
    flex-direction: row;
}
.menu_toggle, .menu_btn{
    display: none;
}
.nav_main li, .dropdown_hover, .ex_nav li{
    font-size: 1em;
    color: var(--lightgrey);
    background-color: var(--richblack);
    padding: 5px;
}
.dropdown_hover{
    border: none;
    background-color: transparent;
    margin:-10px -4px -10px -4px;
    cursor: pointer;
}

/* Hover coloring */
.nav_main li:first-child:hover{
    background-color: purple;
}
.nav_main li:nth-child(2):hover{
    background-color: var(--navyblue);
}
.nav_main li:nth-child(3):hover{
    background-color: rgb(187, 121, 0);
}
.nav_main li:nth-child(4):hover{
    background-color: green;
}
.nav_main li:hover, .dropdown_hover:hover{
    transition: .4s;
}
.nav_main li:hover, .dropdown_hover:hover{
    transition: 1s;
}
.arrow{
    display: inline;
}
.active{
    background-color: var(--lightgrey);
    color: var(--richblack)
}
/* ------------ */
.main{
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
}
.main, .info{
    margin-left: auto;
    margin-right: auto ;
}
.ex_nav{
    display: flex;
    background-color: var(--bright_yellow_crayola);
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    max-width: 1400px;
}
.ex_nav ul{
    flex-direction: row;
}
.ex_nav li{
    text-align: center;
    background-color: var(--richblack);
    padding: 5px;
    margin: 10px;
}
.page_title{
    display: flex;
}
.page_title_text{
    align-self: center;
    position: absolute;
    left: 40%;
    word-spacing: .5vw;
}
.img_bg{
    position: relative;
    z-index: -1;
}
.img_bg_space{
    width: 100vw;
    max-width: 1800px;
    opacity: 0.4;
}
.ex_main{
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.47);
    justify-content: space-around;
    text-align: center;
    border-radius: 10px;
}
.img_tile{
    object-fit:cover;
    width: 280px;
    height: 150px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
}

@media (min-width:700px){

    .nav_main{
        display: flex;
        flex-direction: row;
        right: 53px;
        position: fixed;
        width: max-content;
    }
    .nav_main ul{
        display: inline-flex;
        flex-direction: row;
        position: fixed;
    }
    .dropdown_contents{
        max-height: 0;
        overflow: hidden;
        position: absolute;
        flex-direction: column;
        transition: ease-out .5s;
        width: fit-content;
    }
    .dropdown_contents li{
        padding:10px;
        margin-left: -40px;
    }
    .dropdown:hover .dropdown_contents{
        max-height: 100%;
    }
    .dropdown_contents li:hover .dropdown_icon{
        position: relative;
        transition: .5s;
        visibility: visible;
        padding-right: 10px;
    }
    .dropdown_icon{
        visibility: hidden;
        margin-top: -5px;
        margin-bottom: -5px;
        position: absolute;
        filter: invert(100%);
        max-height: 25px;
    }
    .logo{
        width: min-content;
    }
    .name_container{
        flex-direction: row;
        font-weight: 800;
        margin-top: -25px;
        margin-bottom: -20px;
        padding-left: 2%;
    }
    .name-1, .name-2, .name-3{
        padding-right: 10px;
    }
    .name-2{
        font-size: 2.2vw;
        align-self: center;
        padding-top: 0;
    }


    @media(min-width:1400px){
        .name_container{
            align-items: center;

        }
        .name-2{
            font-size: 2em;  
        }
    }

}

/* Footer items */
.social{
    font-family: cy, verdana, sans serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social_media{
    font-size: 3em;
    margin-bottom: -30px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px 10px 10px 10px;
    max-width: 1400px;
}
.info_details{
    display: flex;
    flex-direction: column;
}
.hours_open{
    text-align: right;
}

/* ------------------ Mobile ------------------ */
@media ( max-width: 700px){

    .menu_btn{
        display: flex;
        transition: 0.5s;
        color: var(--richblack);
        z-index: 1;
        background-color: rgba(255, 255, 255, 0.517);
        border-radius: 10px;
        box-shadow: 3px 3px #34343436;
        position: fixed;
        font-size: 1.5em;
        right: 5%;
        top: 15px;
        padding:10px 15px 10px 15px;
        cursor: pointer;
    }
    .menu_toggle:checked ~ .menu_btn{
        filter: invert(70%);
    }
    .menu_toggle:checked ~ .hide_x{
        display: contents;
    }
    .menu_toggle:checked ~ .hide_bars{
        visibility: none;
    }
    .menu_toggle:checked ~ .header{
        min-height: 100%;
    }
    .header{
        display: flex;
        max-height: 0;
        overflow: hidden;
        width: 100vw;
        background-color: var(--richblack);
        position: fixed;
        right:0;
    }
    .name_container{
        display:inline-flex;
        flex-direction: row;
        position: absolute;
        font-size: .9em;
        right: 18%;
        font-weight: 700;
    }
    .name-1{
        grid-area: name-1;
    }
    .name-2{
        grid-area: name-2;
        font-size: 4.6vw;
        align-self: center;
    }
    .name-3{
        grid-area: name-3;
    }
    .ex_nav{
        flex-flow: wrap;
        font-size: 1.2em;
    }
    .ex_nav ul{
        justify-content: space-between;
    }
    .ex_nav li{
        margin: 5px;
    }
    @media(min-width:676px){
        .name_container{
            font-size: 1.9em;
        }
        .name-2{
            font-size: inherit;
        }
    }
    .main{
        flex-direction: column;
        align-items: center;
    }

    .nav_main{
        padding-top: 100px;
        padding-left: 0;
    }
    .arrow{
        display: none;
    }
    .nav_main ul{
        display: flex;
        flex-direction: column;
    }
    .nav_main li{
        padding: 3%;
        font-size: 1.5em;
        width: 100vw;
        background-color: transparent;
    }
    .dropdown_contents{
        padding-left: 0;
    }
    .dropdown_contents li, .nav_main li{
        text-align: center;
        cursor: pointer;
    }

}

    /*----------------------------*/
