/*------- Styling------ */
:root{
    --richblack: #00030a;
    --midnightblue:#000641;
    --navyblue:#000086;
    --bright_yellow_crayola:#ffb034;
    --goldenrod:#e2b123;
    --mustard:#ffdb54;
    --lightgrey:#d5d5d5;
    --honeydew:#dfece3;
}
a, .btn_style-1{
    text-decoration: none;
    font-size: 1em;
    padding:0.5em;
    cursor: pointer;
}
.btn_style-1, .btn_style-2, .btn_style-3{
    border: none;
    background-color: transparent;
}
.btn_style-3{
    background-color: var(--bright_yellow_crayola);
    width: fit-content;
    align-self: center;
    margin: 3em;
    padding: 0;
}

ul{
    list-style: none;
}
h1,h2,h3,a, .btn_style-1, .ex_nav{
    color: var(--lightgrey);
    font-family: Cy, verdana, sans serif;
}
p{
    font-family: Hedley New Web, verdana, sans serif;
    color: var(--lightgrey);  
}
.menu_toggle, .menu_btn{
    display: none;
}
    /*-------   Layout  ------ */

body{
    background-color: var(--richblack);
    max-width: 1400px;

}
header{
    z-index: 2;
}

    /*-------   General Content  ------ */
.header{
    display: flex;
    flex-direction: row;
}
.container{
    padding: 0em 1em;
}
/* Museum name */
.name_container{
    display: flex;
    flex-direction: row;
    font-weight: 800;
    align-items: center;
}
.variable_font{
    font-size: 2.2vw;
}
.active{
    background-color: var(--lightgrey);
    color: var(--richblack)
}
.right nav{
    position: fixed;
    right: 0;
}
.nav_top ul{
    display: flex;
    flex-direction: row;
    background-color: var(--richblack);
    align-items: center;
    padding: 0;
    z-index: 2;
}

.more_content li{
    padding:.5em 0;
    width: 100%;
    text-align: center;
    background-color: var(--richblack);
}
.arrow{
    display: inline;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.more_content{
    display: flex;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    width: max-content;
    right: 0;
    transition: 0.5s;
}
.dropdown:hover .more_content{
    max-height: 100%;
    overflow: visible;
}


/* Footer items */
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social_media{
    font-size: 2.5rem;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info_details{
    display: flex;
    flex-direction: column;
}
.hours_open{
    text-align: right;
}


/* -------------- */

/* Hover coloring */
.nav_top a:first-child:hover{
    background-color: purple;
}

/* ------------ */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ------------------ Mobile ------------------ */
@media ( max-width: 40em){

    .menu_btn{
        display: flex;
        transition: 0.5s;
        color: var(--richblack);
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.517);
        border-radius: 10px;
        box-shadow: 3px 3px #34343436;
        position: fixed;
        font-size: 1.5em;
        right: 5%;
        top: 5%;
        padding:.5em .6em;
        cursor: pointer;
    }
    .menu_toggle:checked ~ .menu_btn{
        filter: invert(70%);
    }
    .menu_toggle:checked ~ .header{
        min-height: 100%;
    }
    .header{
        display: flex;
        top: 0;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        background-color: var(--richblack);
        position: fixed;
        z-index: 1;
    }
    .hide_content{
        display: none;
    }
    .more_content{
        max-height: 100%;
        overflow: visible;
        right: auto;
    }
    .nav_top{
        margin: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 2;
    }
    .more_content li{
        right: 50%;
    }

    .nav_top li, .more_content li{
        flex-direction: column;
        position: relative;
        margin: 0;
        text-align: center;
        padding: .5em;
        font-size: 1.5rem;
    }
    .nav_top ul{
        flex-direction: column;
    }
    .name_container{
        flex-direction: column;
        font-size: 2rem;
        padding: 1.5em;
    }
    .variable_font{
        font-size: 1rem;
    }
    .right nav{
        right: auto;
        position: relative;
    }

}

    /*----------------------------*/
/* Home page */
.main_index{
    background-image: url(assets/img_bg_home.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.img_event{
    max-height: 20%;
    right: 0;
}
.btn_style-2{
    border: var(--lightgrey);
    background-color: var(--richblack);
    font-size: 1.2vw;
    border-style: solid;
    text-align: left;
    cursor: pointer;
    width: 100%;
    margin: .5em;
}
@media ( min-width: 80em){
    .btn_style-2{
        font-size: 1em;
    }
}
@media ( max-width: 40em){
    .btn_style-2{
        font-size: 1rem;
    }
}

.event_title-1, .event_title-2, .event_title-3{
    min-width: ;
}
.event_info{
    width: 30%;
    min-width: max-content;
}
.events{
    background-color: rgba(0, 0, 0, 0.685);
    padding: 2em;
    z-index: 0;
    display: inline-block;
    position: relative;
}
.event_tile{
    display: flex;
    flex-direction: row;
}
.event-1, .event-2, .event-3{
    display: flex;
    flex-direction: row;
}
.event_info-1, .event_info-2, .event_info-3{
    display: flex;
    visibility: hidden;
    width: 40%;
    position: absolute;
    flex-direction: row;
    right: 15%;
    background-color: var(--richblack);
    top: 10%;
    justify-content: space-between;

}
.event-1:hover  .event_info-1{
    transition: 0.5s;
    visibility: visible;
}
.event-1:hover .event{
    filter: invert(100%);
}
.event-2:hover  .event_info-2{
    visibility: visible;
}
.event-3:hover  .event_info-3{
    visibility: visible;
}




/* Exhibitions */
.ex_nav{
    display: flex;
    background-color: var(--bright_yellow_crayola);
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    max-width: 1800px;
    font-size: 1.3em;
}
.ex_nav ul{
    flex-direction: row;
}
.ex_nav li{
    text-align: center;
    background-color: var(--richblack);
    padding: 5px;
    margin: 10px;
}
.color_evolution{
    background-color: var(--navyblue);
}
.page_title{
    display: flex;
    width: 100%;
    height: 200px;
    margin: 20px;
}
.page_title_text{
    align-self: center;
    position: absolute;
    left: 50%;
    text-align: center;
}
.img_bg{
    position: relative;
    z-index: -1;
    object-fit: scale-down;
    width: 100vw;
}
.img_bg_space{
    max-width: 1400px;
    opacity: 0.4;
}
.img_bg_evolution{
    filter: invert(100%);
    margin-left: -100px;
}
.ex_main{
    display: flex;
    flex-direction: row;
    max-width: 1400px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 30px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.47);
    justify-content: space-around;
    text-align: center;
}
.img_tile{
    object-fit:cover;
    width: 280px;
    height: 150px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.493);
}